{{#each articles}}
  <div class='articles_card'>
    <td>{{id}}</td>
    <img
      src='{{photo}}'
      alt='Articles image'
      class='art_image'
    />
    <h3 class='art_name'>{{name}}</h3>
    <p class='art_description'>{{description}}</p>
    <a href='#' class='button_card'>Read All</a>
  </div>
{{/each}}