{{#with footer}}
  <div class='footer_main'>
    <div class='footers'>
      {{#each pages}}
        <a href='{{path}}' class='footer_pages'>{{name}}</a>
      {{/each}}
    </div>
    <span class='footer_copyright'>{{copyright}}</span>
  </div>
{{/with}}